@model AddressModel

<input asp-for="Id" type="hidden" id="Courier"/>
<div class="edit-address">
    <div class="inputs">
        <label asp-for="FirstName" asp-postfix=":"></label>
        <input asp-for="FirstName" id="Courier" />
        <nop-required />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="inputs">
        <label asp-for="LastName" asp-postfix=":"></label>
        <input asp-for="LastName" id="Courier" />
        <nop-required />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="inputs">
        <label asp-for="Email" asp-postfix=":"></label>
        <input asp-for="Email" id="Courier"  />
        <nop-required />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="inputs">
        <label asp-for="CountryId" asp-postfix=":"></label>
        <select asp-for="CountryId" asp-items="Model.AvailableCountries"    
                data-trigger="country-select"
                data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                data-loading="#states-loading-progress"></select>
        <nop-required />
        <span asp-validation-for="CountryId"></span>
    </div>


    <div class="inputs">
        <label asp-for="StateProvinceId" asp-postfix=":"></label>
        <select asp-for="StateProvinceId" asp-items="Model.AvailableStates" id="PickUp"></select>
        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
        <span asp-validation-for="StateProvinceId"></span>
    </div>

    <div class="inputs">
        <label asp-for="City" asp-postfix=":"></label>
        <input asp-for="City" value="Москва" id="Courier"  />
        @if (Model.CityRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="City"></span>
    </div>

    <div class="inputs">
        <label asp-for="Address1" asp-postfix=":"></label>
        <input asp-for="Address1" id="Courier" />
        @if (Model.StreetAddressRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="Address1"></span>
    </div>


    <div class="inputs">
        <label asp-for="ZipPostalCode" asp-postfix=":"></label>
        <input asp-for="ZipPostalCode" id="Courier" />
        @if (Model.ZipPostalCodeRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="ZipPostalCode"></span>
    </div>


    <div class="inputs">
        <label asp-for="PhoneNumber" asp-postfix=":"></label>
        <input asp-for="PhoneNumber" id="Courier" />
        @if (Model.PhoneRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="PhoneNumber"></span>
    </div>

    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync(PluginDefaults.CustomSharedViewPathFormat + "_AddressAttributes.cahtml", Model.CustomAddressAttributes)
    }
</div>
