@model AddressModel

<input asp-for="Id" type="hidden"  id="PickUp" />
<div class="edit-address">
    <div class="inputs">
        <label asp-for="FirstName" asp-postfix=":"></label>
        <input asp-for="FirstName" id="PickUp" />
        <nop-required />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="inputs">
        <label asp-for="LastName" asp-postfix=":"></label>
        <input asp-for="LastName" id="PickUp" />
        <nop-required />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="inputs">
        <label asp-for="Email" asp-postfix=":"></label>
        <input asp-for="Email" id="PickUp"  />
        <nop-required />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="inputs">
        <label asp-for="PhoneNumber" asp-postfix=":"></label>
        <input asp-for="PhoneNumber" id="PickUp"  />
        @if (Model.PhoneRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="PhoneNumber"></span>
    </div>

    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync(PluginDefaults.CustomSharedViewPathFormat + "_AddressAttributes.cahtml", Model.CustomAddressAttributes)
    }
</div>
